.slogan{
    font-weight: bolder;
    font-size: 3.4em;
}

.titleP{
    font-size: 1.8em;
}

.main{
    margin-top: 1em;
}

.navBarTitle{
    font-weight: bolder;
}

.meImg{
    margin-top: 1em;
    border-radius: 50%;
    border: 0.7em solid;
    border-color: black;
    width: 20em;
}

.important{
    display: inline;
    font-weight: bolder;
}

.titlePart{
    display: table-cell;
    vertical-align: middle;
}

.callButton{
    font-weight: bolder;
    font-size: 1.5em;
}

.infos{
    font-size: 1.5em;
    margin-top: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: black;
    color: white;
}

.techLogos{
    margin-top: 1em;
    vertical-align: middle;
}

.logoImg{
    width: 15em;
    height: 15em;
}

.logoRow{
    vertical-align: middle;
}

.demo{
    font-size: 1.5em;
    margin-top: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: black;
    color: white;
}

.demoButton{
    font-weight: bolder;
    font-size: 1.3em;
}

.skinCard{
    width: 15em;
    font-size: 0.7em;
    padding: 0.7em;
}

.minted{
    text-align: center;
    padding-top: 1em;
    margin-bottom: 1em;
}

.imageLink{
    width: 2.5em;
    margin: 0.35em;
}