h1{
    font-weight: bolder;
    font-size: 3.2em;
}

.titleP{
    font-size: 1.5em;
}

.main{
    margin-top: 1em;
}

.navBarTitle{
    font-weight: bolder;
    margin-left: 2em;
}

.meImg{
    border-radius: 50%;
    border: 0.7em solid;
    border-color: black;
    width: 15em;
}

.important{
    display: inline;
    font-weight: bolder;
}

.titlePart{
    display: table-cell;
    vertical-align: middle;
}

.callButton{
    font-weight: bolder;
}

.infos{
    margin-top: 1em;
    padding-bottom: 1em;
    background-color: black;
    color: white;
}

.techLogos{
    margin-top: 1em;
    vertical-align: middle;
}

.logoImg{
    width: 15em;
    height: 15em;
}

.logoRow{
    vertical-align: middle;
}